discord.py>=1.5.0
gspread
oauth2client
pyyaml
flask_sqlalchemy
Flask-Migrate
marshmallow==2.19.5
flask_marshmallow
marshmallow-sqlalchemy
requests-oauthlib==1.2.0
requests
flask-fontawesome
flask-admin
flask-compress
Pillow
simplejson
Flask-Caching
bb2_cyanide_api
