  <!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/main.css?1.14">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images//favicon-16x16.png">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>REBBL Imperium</title>
    </head>

    <body>
    <div id="app">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                REBBL Imperium
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-bind:class="{ active: menu=='Coaches' }">
                        <a class="nav-link" href="#" @click="menu='Coaches'">Coaches</a>
                    </li>
                    <li class="nav-item" v-bind:class="{ active: menu=='Tournaments' }">
                        <a class="nav-link" href="#" @click="menu='Tournaments'">Tournaments</a>
                    </li>
                    <li class="nav-item" v-bind:class="{ active: menu=='Leaderboard' }">
                        <a class="nav-link" href="#" @click="menu='Leaderboard'">Leaderboard</a>
                    </li>
                </ul>
                <ul class="navbar-nav" v-cloak>
                    <li v-if="user.username" class="nav-item">
                        <span class="navbar-text">Welcome [[ user.username ]]</span> 
                    </li>
                    <li v-if="user.code==0" class="nav-item">
                        <a class="nav-link" href="/signin">Signin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid pt-2" v-cloak>
        <flash-message transitionIn="animated swing" class="flashpool"></flash-message>
        <div v-if="menu=='Coaches'" class="row">
            <div class="col-lg-auto" >
                <div class="form-group">
                    <input type="text" class="form-control" id="coach_filter" placeholder="Search..." v-bind:value="coach_filter" v-on:input="debounceCoachSearch($event.target.value)">
                </div>
                <div class="list-group" id="coach-list" role="tablist">
                    <a data-toggle="list" v-for="(coach,index) in filteredCoaches" @click="getCoach(coach.id)" :key="coach.id" class="list-group-item list-group-item-action" href="#coachDisplay" role="tab" aria-controls="home">[[ coach.short_name ]]</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content show" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="coachDisplay" role="tabpanel" aria-labelledby="coach">
                        <ul class="nav nav-tabs" id="coachTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="cards-tab" data-toggle="tab" href="#coach_cards" role="tab" aria-controls="coach_cards">[[ selectedCoach.short_name ]]'s Cards</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="info-tab" data-toggle="tab" href="#coach_info" role="tab" aria-controls="coach_info" aria-selected="true">[[ selectedCoach.short_name]]'s Info</a>
                            </li>
                            <li v-if="loggedCoach==selectedCoach" class="nav-item">
                                <a class="nav-link" id="dusting-tab" data-toggle="tab" href="#coach_dusting" role="tab" aria-controls="coach_dusting" aria-selected="true">Dusting</a>
                              </li>
                        </ul> 
                        <div class="tab-content" id="coachTabContent">
                            <div class="tab-pane fade" id="coach_info" role="tabpanel" aria-labelledby="info-tab">
                                <div class="col-12"><b>Bank:</b> [[ selectedCoach.account.amount]] coins</div>
                                <div class="tab-content show col-12" id="accordionTournamentsCoach">
                                    <b>Tournaments:</b>
                                    <tournament v-for="tournament in tournamentsFor(selectedCoach)" :key="tournament.id" :id="'tourn'+tournament.id+'coach'" role="tabpanel" aria-labelledby="tournament" :tournament="tournament" :coaches="coaches" data-parent="#accordionTournamentsCoach" :user="user"></tournament>
                                </div>
                                <div class="col-12">
                                <b>Transactions:</b>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="th-lg">Date</th>
                                            <th class="th-lg">Bank Change</th>
                                            <th class="th-lg">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="transaction in selectedCoach.account.transactions.slice().reverse()" :key="transaction.id">
                                            <td>[[ transaction.date_confirmed ]]</td>
                                            <td>[[ transaction.price*-1 ]]</td>
                                            <td>[[ transaction.description ]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>    
                            <div class="tab-pane fade show active" id="coach_cards" role="tabpanel" aria-labelledby="cards-tab">
                                <div class="col-auto my-1">
                                    <div class="form-group">
                                        <label for="mixed_team_select">Select team:</label>
                                        <select class="form-control" id="mixed_team" v-model="selected_team">
                                            <option selected value="All">All</option>
                                            <option v-for="team in mixed_teams" :value="team.name" :key="team.code">[[ team.name ]] ([[ team.races.join() ]])</option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Collection value: [[ cardsValue(selectedCoach.cards) ]]</h5>
                                        </div>
                                        <div class="col-6">
                                        <div class="custom-control custom-checkbox mr-sm-2 text-right">
                                            <input type="checkbox" class="custom-control-input" id="sptoggle" v-model="show_starter">
                                            <label class="custom-control-label" for="sptoggle">Toggle Starter Pack</label>
                                        </div>
                                        </div>
                                    </div>
                                    <div id="accordionCards">
                                        <div class="card" v-for="ctype in card_types">
                                            <div class="card-header" :id="ctype.replace(/\s/g, '')+'Cards'">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapse'+ctype.replace(/\s/g, '')" aria-expanded="true" :aria-controls="'collapse'+ctype.replace(/\s/g, '')">
                                                    [[ ctype ]] Cards
                                                    </button>
                                                </h5>
                                            </div>
                                            <div :id="'collapse'+ctype.replace(/\s/g, '')" class="collapse show" :aria-labelledby="ctype.replace(/\s/g, '')+'Cards'" data-parent="#accordionCards">
                                                <div class="card-body table-responsive">
                                                    <table class="table  table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Rarity</th>
                                                            <th>Value</th>
                                                            <th>Name</th>
                                                            <th>Race</th>
                                                            <th class="d-none d-sm-table-cell">Subtype</th>
                                                            <th class="d-none d-sm-table-cell">Quantity</th>
                                                            <th class="d-xs-table-cell d-sm-none">Q</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="card in sortedCardsWithQuantity(selectedCoach.cards.concat(starter_cards()),ctype)" :key="card.card.id" :class="rarityclass(card.card.rarity)">
                                                            <td><img class="rarity" :src="'static/images/'+card.card.rarity+'.jpg'" :alt="card.card.rarity" :title="card.card.rarity" width="20" height="25" /></td>
                                                            <td>[[ card.card.value ]]</td>
                                                            <td :title="card.card.description">[[ card.card.name ]]</td>
                                                            <td>[[ card.card.race ]]</td>
                                                            <td class="d-none d-sm-table-cell">[[ card.card.subtype ]]</td>
                                                            <td>[[ card.quantity ]]</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="loggedCoach==selectedCoach" class="tab-pane fade" id="coach_dusting" role="tabpanel" aria-labelledby="dusting-tab">
                                <div class="col-auto my-1">
                                    <div class="row duster_info">
                                        <div class="col-9 col-md-6"><h4>[[duster_type]]</h4></div>
                                        <div class="col-3 col-md-6 text-right">
                                            <button v-if="is_duster_open()" type="button" :disabled="processing" class="btn btn-info" @click="dust_cancel()">Cancel</button>
                                            <button v-if="is_duster_full()" :disabled="processing" type="button" class="btn btn-info" @click="dust_commit()">Commit</button>
                                        </div>
                                    </div>
                                    <div id="accordionCardsDusting">
                                        <div class="card" v-for="ctype in card_types">
                                            <div class="card-header" :id="ctype.replace(/\s/g, '')+'CardsDusting'">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapse'+ctype.replace(/\s/g, '')+'Dusting'" aria-expanded="true" :aria-controls="'collapse'+ctype.replace(/\s/g, '')+'Dusting'">
                                                    [[ ctype ]] Cards
                                                    </button>
                                                </h5>
                                            </div>
                                            <div :id="'collapse'+ctype.replace(/\s/g, '')+'Dusting'" class="collapse show" :aria-labelledby="ctype.replace(/\s/g, '')+'CardsDusting'" data-parent="#accordionCardsDusting">
                                                <div class="card-body table-responsive">
                                                    <table class="table table-fixed table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Rarity</th>
                                                            <th class="d-none d-sm-table-cell">Value</th>
                                                            <th>Name</th>
                                                            <th class="d-none d-sm-table-cell">Race</th>
                                                            <th class="d-none d-sm-table-cell">Subtype</th>
                                                            <th style="width: 15%"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="card in sortedCardsWithoutQuantity(selectedCoach.cards,ctype)" :key="card.id" :class="rarityclass(card.rarity)">
                                                            <td><img class="rarity" :src="'static/images/'+card.rarity+'.jpg'" :alt="card.rarity" :title="card.rarity" width="20" height="25" /></td>
                                                            <td class="d-none d-sm-table-cell">[[ card.value ]]</td>
                                                            <td :title="card.description">[[ card.name ]]</td>
                                                            <td class="d-none d-sm-table-cell">[[ card.race ]]</td>
                                                            <td class="d-none d-sm-table-cell">[[ card.subtype ]]</td>
                                                            <td class="text-right">
                                                                <button v-if="is_in_duster(card)" :disabled="processing" type="button" class="col-12 btn btn-danger" @click="dust_remove(card)">Remove</button>
                                                                <button v-else type="button" :disabled="processing" class="col-12 btn btn-success" @click="dust_add(card)">Add</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
        <div v-if="menu=='Tournaments'" class="row">
            <div class="col-12">
                <div class="tab-content" id="accordionTournaments">
                    <div class="row col-lg-9">
                        <div class="form-group col-md-6">
                            <select class="form-control" id="tournament_region" v-model="selected_t_region">
                                <option selected disabled value="">Region:</option>
                                <option value="">Reset</option>
                                <option value="all">Cross-region</option>
                                <option value="bigo">Big O</option>
                                <option value="gman">GMAN</option>
                                <option value="rel">REL</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" id="tournament_state" v-model="selected_t_state">
                                <option selected disabled value="">Occupation:</option>
                                <option value="">Reset</option>
                                <option value="free">Free</option>
                                <option value="full">Full</option>
                            </select>
                        </div>
                    </div>
                    <tournament class="show col-lg-9" v-for="tournament in filteredTournaments" :key="tournament.id" :id="'tourn'+tournament.id" role="tabpanel" aria-labelledby="tournament" :tournament="tournament" :coaches="coaches" :data-parent="'#accordionTournaments'" :user="user"></tournament>
                </div>
            </div>
        </div>
        <div v-if="menu=='Leaderboard'" class="row">
            <div class="col-12 col-md-6 col-lg-4 table-responsive">
                <h4> TOP 10 collectors </h4>
                <table id="leaderboard" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th class="text-right" scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(coach,index) in leaderboard" :key="coach.id">
                            <th scope="row">[[ index+1 ]].</th>
                            <td>[[ coach.short_name ]]</td>
                            <td class="text-right">[[ coach.collection_value ]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div><!-- /.container -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/scripts/main.js?1.14" type="module"></script>
    </body>
</html>
