<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/main.css?1.6">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>REBBL Imperium</title>
    </head>

    <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                REBBL Imperium
            </a>
        </div>
    </nav>

    <div id="app" class="container-fluid pt-2" v-cloak>
        <div class="row">
            <div class="col-md-auto" >
                <div class="list-group" id="coach-list" role="tablist">
                    <a data-toggle="list" v-for="(coach,index) in orderedCoaches" :coach_id="coach.id" :key="coach.id" class="list-group-item list-group-item-action" :href="'#coach'+ coach.id" role="tab" aria-controls="home">[[ coach.short_name ]]</a>
                </div>
            </div>
            <div class="col-md">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show" v-for="(coach,index) in orderedCoaches" :key="coach.id" :id="'coach'+coach.id" role="tabpanel" aria-labelledby="coach">
                        <ul class="nav nav-tabs" :id="'coachTab'+coach.id" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" :id="'info-tab'+coach.id" data-toggle="tab" :href="'#coach_info'+coach.id" role="tab" aria-controls="coach_info" aria-selected="true">Info</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" :id="'cards-tab'+coach.id" data-toggle="tab" :href="'#coach_cards'+coach.id" role="tab" aria-controls="coach_cards">Cards</a>
                            </li>
                        </ul>
                        <div class="tab-content" :id="'coachTabContent'+coach.id">
                            <div class="tab-pane fade show active" :id="'coach_info'+coach.id" role="tabpanel" aria-labelledby="info-tab">
                                <div class="col-12">Bank: [[ coach.account.amount]] coins</div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="th-lg">Date</th>
                                            <th class="th-lg">Bank Change</th>
                                            <th class="th-lg">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="transaction in coach.account.transactions.slice().reverse()" :key="transaction.id">
                                            <td>[[ transaction.date_confirmed ]]</td>
                                            <td>[[ transaction.price*-1 ]]</td>
                                            <td>[[ transaction.description ]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" :id="'coach_cards'+coach.id" role="tabpanel" aria-labelledby="cards-tab">
                                    <div class="col-auto my-1">
                                        <div class="form-group">
                                            <label :for="'mixed_team_select'+coach.id">Select team:</label>
                                            <select class="form-control" :id="'mixed_team'+coach.id" v-model="selected_team">
                                              <option selected value="All">All</option>
                                              <option v-for="team in mixed_teams" :value="team.name" :key="team.code+coach.id">[[ team.name ]] ([[ team.races.join() ]])</option>
                                            </select>
                                          </div>

                                          <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" :id="'sptoggle'+coach.id" v-model="show_starter">
                                            <label class="custom-control-label" :for="'sptoggle'+coach.id">Toggle Starter Pack</label>
                                          </div>
                                    </div>
                                    <div :id="'accordion'+coach.id">
                                        <div class="card">
                                            <div class="card-header" :id="'PlayerCards'+coach.id">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapsePlayer'+coach.id" aria-expanded="true" aria-controls="collapsePlayer">
                                                  Player Cards
                                                </button>
                                              </h5>
                                            </div>
                                        
                                            <div :id="'collapsePlayer'+coach.id" class="collapse show" :aria-labelledby="'PlayerCards'+coach.id" :data-parent="'#accordion'+coach.id">
                                              <div class="card-body">
                                                <table class="table  table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="th-lg">Rarity</th>
                                                        <th class="th-lg">Card name</th>
                                                        <th class="th-lg">Race</th>
                                                        <th class="th-lg">Type</th>
                                                        <th class="th-lg">Subtype</th>
                                                        <th class="th-lg">Quantity</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="card in sortedCardsWithQuantity(coach.cards.concat(starter_cards),'Player')" :key="card.card.id" :class="rarityclass(card.card.rarity)">
                                                        <td><img class="rarity" :src="'static/images/'+card.card.rarity+'.jpg'" :alt="card.card.rarity" :title="card.card.rarity" width="23" height="32" /></td>
                                                        <td :title="card.card.description">[[ card.card.name ]]</td>
                                                        <td>[[ card.card.race ]]</td>
                                                        <td>[[ card.card.card_type ]]</td>
                                                        <td>[[ card.card.subtype ]]</td>
                                                        <td>[[ card.quantity ]]</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" :id="'TrainingCards'+coach.id">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapseTraining'+coach.id" aria-expanded="true" aria-controls="collapseTraining">
                                                  Training Cards
                                                </button>
                                              </h5>
                                            </div>
                                        
                                            <div :id="'collapseTraining'+coach.id" class="collapse show" :aria-labelledby="'TrainingCards'+coach.id" :data-parent="'#accordion'+coach.id">
                                              <div class="card-body">
                                                <table class="table  table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="th-lg">Rarity</th>
                                                        <th class="th-lg">Card name</th>
                                                        <th class="th-lg">Race</th>
                                                        <th class="th-lg">Type</th>
                                                        <th class="th-lg">Subtype</th>
                                                        <th class="th-lg">Quantity</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="card in sortedCardsWithQuantity(coach.cards.concat(starter_cards),'Training')" :key="card.card.id" :class="rarityclass(card.card.rarity)">
                                                        <td><img class="rarity" :src="'static/images/'+card.card.rarity+'.jpg'" :alt="card.card.rarity" :title="card.card.rarity" width="23" height="32" /></td>
                                                        <td :title="card.card.description">[[ card.card.name ]]</td>
                                                        <td>[[ card.card.race ]]</td>
                                                        <td>[[ card.card.card_type ]]</td>
                                                        <td>[[ card.card.subtype ]]</td>
                                                        <td>[[ card.quantity ]]</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" :id="'SpecialPlayCards'+coach.id">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapseSpecialPlay'+coach.id" aria-expanded="true" aria-controls="collapseSpecialPlay">
                                                    Special Play Cards
                                                </button>
                                              </h5>
                                            </div>
                                        
                                            <div :id="'collapseSpecialPlay'+coach.id" class="collapse show" :aria-labelledby="'SpecialPlay'+coach.id" :data-parent="'#accordion'+coach.id">
                                              <div class="card-body">
                                                <table class="table  table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="th-lg">Rarity</th>
                                                        <th class="th-lg">Card name</th>
                                                        <th class="th-lg">Race</th>
                                                        <th class="th-lg">Type</th>
                                                        <th class="th-lg">Subtype</th>
                                                        <th class="th-lg">Quantity</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="card in sortedCardsWithQuantity(coach.cards.concat(starter_cards),'Special Play')" :key="card.card.id" :class="rarityclass(card.card.rarity)">
                                                        <td><img class="rarity" :src="'static/images/'+card.card.rarity+'.jpg'" :alt="card.card.rarity" :title="card.card.rarity" width="23" height="32" /></td>
                                                        <td :title="card.card.description">[[ card.card.name ]]</td>
                                                        <td>[[ card.card.race ]]</td>
                                                        <td>[[ card.card.card_type ]]</td>
                                                        <td>[[ card.card.subtype ]]</td>
                                                        <td>[[ card.quantity ]]</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" :id="'UtilityCards'+coach.id">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapseUtility'+coach.id" aria-expanded="true" aria-controls="collapseUtility">
                                                    Utility Cards
                                                </button>
                                              </h5>
                                            </div>
                                        
                                            <div :id="'collapseUtility'+coach.id" class="collapse show" :aria-labelledby="'UtilityCards'+coach.id" :data-parent="'#accordion'+coach.id">
                                              <div class="card-body">
                                                <table class="table  table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th class="th-lg">Rarity</th>
                                                        <th class="th-lg">Card name</th>
                                                        <th class="th-lg">Race</th>
                                                        <th class="th-lg">Subtype</th>
                                                        <th class="th-lg">Quantity</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="card in sortedCardsWithQuantity(coach.cards.concat(starter_cards),'Utility')" :key="card.card.id" :class="rarityclass(card.card.rarity)">
                                                        <td><img class="rarity" :src="'static/images/'+card.card.rarity+'.jpg'" :alt="card.card.rarity" :title="card.card.rarity" width="23" height="32" /></td>
                                                        <td :title="card.card.description">[[ card.card.name ]]</td>
                                                        <td>[[ card.card.race ]]</td>
                                                        <td>[[ card.card.card_type ]]</td>
                                                        <td>[[ card.card.subtype ]]</td>
                                                        <td>[[ card.quantity ]]</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                      </div>           
                    </div>
                </div>
            </div>
        </div>
        
    </div><!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/scripts/main.js?1.3"></script>
    </body>
</html>
