{% macro rarity_class(rarity) -%}
    {% if rarity=="Common" %}
        table-light
    {% elif rarity=="Starter" %}
        table-light
    {% elif rarity=="Rare" %}
        table-info
    {% elif rarity=="Epic" %}
        table-danger
    {% elif rarity=="Legendary" %}
        table-warning
    {% endif %}
{%- endmacro %}