[v-cloak] { display: none; }

.toggle-wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 2rem;
    width: 4rem;
    border-radius: 9999px;
}

.toggle-wrapper:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba(52,144,220,.5);
}

.toggle-background {
  display: inline-block;
  border-radius: 9999px;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color .2s ease;
}

.toggle-indicator {
  position: absolute;
  top: .25rem;
  left: .25rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
  border-radius: 9999px;
  box-shadow:  0 2px 4px rgba(0,0,0,0.1);
  transition: transform .2s ease;
}

#coach-list{
  overflow-y: auto;
  height: 85vh;
  padding-right: 1vw;
}

.card-header {
  padding: 0.1rem;
}

#nav-tabContent {
  font-size:0.8rem;
}

#nav-tabContent .form-control {
  font-size: 0.8rem;
}

.card button {
  font-size: 0.8rem;
}

.duster_info {
  padding: 0.75rem;
}
.tournament .card-body div[class^="col-"] {
  padding-bottom: 0.1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.flashpool {
  box-sizing: border-box;
}

.flashpool {
  position: fixed;
  top: 75px;
  right: 20px;
  max-height: 400px;
  width: 260px;
  -webkit-perspective: 400px;
  perspective: 400px;
  z-index: 10;
}

.flash__message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px 15px 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #cccccc;
  position: relative;
}

.flash__message.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.flash__message.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.flash__message.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.flash__message.info {
  color: #37516A;
  background-color: #F2F5FE;
  border-color: rgb(223, 227, 240);
}

.flash__close-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0px;
  right: 0px;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 10px;
  margin: 0;
  padding: 8px;
}

.flash__close-button:active,.flash__close-button:focus {
  outline: none;
}
